<!DOCTYPE html>
<html lang="en" ng-app="notif">
  <head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>HackGT Notifications Page</title>
    <meta name="author" content="HackGT">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro:400,600|Lato" rel="stylesheet">
    <link rel="stylesheet" href="build/ui.min.css">
    <link rel='stylesheet' href='build/style.css' />
    <!-- <link rel="stylesheet" href="build/nerveSlider.min.css"> -->

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="./assets/favicon.png">

    <!-- JavaScript/JQuery
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </head>
  <body ng-controller="AppController">

    <div class="container-fluid">
    </div>

    <div class="container">
      <div class="col-md-4">
        <div id="social"></div>
      </div>
      <div class="col-md-4">
        <div class="title">
          <img src="./assets/HackGTLogo.png" id="logo">
        </div>
        <div class="notifications">
          <div class="card" ng-repeat="notif in notifs" ng-if="notif">
            <div class="cardType"><img src="./assets/{{(notif.type).toLowerCase()}}.svg"></div>
            <h1 id="card-title">{{notif.title}}</h1>
            <p>{{notif.description}}</p>
            <p id="timestamp">{{notif.date | date:'shortTime'}}</p>
          </div>
          <!-- <div class="card">
            <div class="cardType"><img src="./assets/food.svg"></div>
            <h1 id="card-title">Dinner is served!</h1>
            <p>Bollywood Zing is here. If you're hungry, head over to the food area.</p>
            <p id="timestamp">7:28 PM</p>
          </div>
          <div class="card">
            <div class="cardType"><img src="./assets/event.svg"></div>
            <h1 id="card-title">HackGT Tech Talk: Intro To Hackathons</h1>
            <p>The Intro to Hackathons Tech Talk is happening NOW in Klaus 123. Head over to learn more about hackathons!</p>
            <p id="timestamp">6:15 PM</p>
          </div> -->
        </div>
        <div class="card">
          <a href="https://slackgt.slack.com" target="_blank">
            <div class="cardType"><img src="./assets/slack.png"></div>
            <h1 id="card-title">SlackGT</h1>
            <p>Stay updated on all things HackGT! Join our Slack channel to communicate with other hackers, get matched with mentors, and ask questions to sponsors.</p>
          </a>
        </div>
        <div class="card">
          <div class="cardType"><img src="./assets/general.svg"></div>
          <h1 id="card-title">Get Connected</h1>
          <p>Not a GT Student? Connect to "GTvisitor," click "redeem," and create an account. The prepaid pass is X95B5.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="padding: 0;">
          <div class="clock">
            <div class="time">5:55 PM</div>
            <div class="day">Friday</div>
          </div>
          <div id="schedule">
            <div class="event">
              <span class="time">9:30p</span>
              <span class="eventN">Opening Ceremony</span>
              <span class="location">Ferst Center</span>
            </div>
            <div class="event">
              <span class="time">11:00p</span>
              <span class="eventN">Hacking begins</span>
              <span class="location"></span>
            </div>
            <div class="event">
              <span class="time">11:00p</span>
              <span class="eventN">Sponsor Expo</span>
              <span class="location">Klaus Atrium</span>
            </div>
            <div class="event">
              <span class="time">11:30p</span>
              <span class="eventN">Team Mixer</span>
              <span class="location">Klaus Atrium</span>
            </div>
          </div>
        </div>
        <!-- <div class="scheduleBlock">
          <table>
            <thead><tr><td colspan="2">Friday, September 23</td></tr></thead>
            <tbody>
              <tr><td>9:30p</td><td>Opening Ceremony</td></tr>
              <tr><td>11:00p</td><td>Let's get hacking!</td></tr>
              <tr><td>11:00p</td><td>Sponsor Expo</td></tr>
              <tr><td>11:30p</td><td>Team Mixer</td></tr>
            </tbody>
          </table>
        </div>
        <div class="scheduleBlock">
          <table>
            <thead><tr><td colspan="2">Saturday, September 24</td></tr></thead>
            <tbody>
              <tr><td>12:00a</td><td>Midnight Snack</td></tr>
              <tr><td>12:30a</td><td>GM Tech Talk - Polymer</td></tr>
              <tr><td>12:30a</td><td>Intro to Hackathons - Tech Talk</td></tr>
              <tr><td>1:30a</td><td>Microsoft Tech Talk - Data Science and Machine Learning in Spark</td></tr>
              <tr><td>1:30a</td><td>GE Digital Tech Talk</td></tr>
              <tr><td>2:30a</td><td>Macy's Tech Talk</td></tr>
              <tr><td>3:30a</td><td>Silent Disco</td></tr>
              <tr><td>7:00a</td><td>Breakfast (Sun in My Belly)</td></tr>
              <tr><td>9:00a</td><td>Blackrock Tech Talk- Apache Ignite</td></tr>
              <tr><td>9:00a</td><td>a16z Tech Talk</td></tr>
              <tr><td>10:30a</td><td>Meditation</td></tr>
              <tr><td>12:00p</td><td>Lunch (Pita Pit)</td></tr>
              <tr><td>1:30p</td><td>Delta Tech Talk - Fly Delta App and Delta Data Analysis</td></tr>
              <tr><td>1:30p</td><td>Qualtrics Tech Talk</td></tr>
              <tr><td>3:00p</td><td>Yoga</td></tr>
              <tr><td>3:30p</td><td>Lunch, again! (Loaded Burgers)</td></tr>
              <tr><td>4:30p</td><td>Airwatch Tech Talk - Mobility and Scalability</td></tr>
              <tr><td>5:00p</td><td>Dinner (Matt's Ribs)</td></tr>
              <tr><td>5:30p</td><td>Werewolf</td></tr>
              <tr><td>7:00p</td><td>Poetry Slam</td></tr>
              <tr><td>8:00p</td><td>Dinner, again! (Bollywood Zing)</td></tr>
            </tbody>
          </table>
        </div>
        <div class="scheduleBlock">
          <table>
            <thead><tr><td colspan="2">Sunday, September 25</td></tr></thead>
            <tbody>
              <tr><td>12:00a</td><td>King of Pops!</td></tr>
              <tr><td>3:00a</td><td>Insomnia Cookies</td></tr>
              <tr><td>6:00a</td><td>Sublime Donuts</td></tr>
              <tr><td>7:30a</td><td>Breakfast (Nana G's)</td></tr>
              <tr><td>9:00a</td><td>Hacking ends!</td></tr>
              <tr><td>10:00a</td><td>Expo and Judging</td></tr>
              <tr><td>12:00p</td><td>Lunch (Tempted Palate)</td></tr>
              <tr><td>2:00p</td><td>Closing ceremonies</td></tr>
            </tbody>
          </table>
        </div>
        <h2>Prizes</h2> -->
        <div id="prizes" class="card" style="padding: 0; transform: scale(0.98);">
          <div class="cardType"><img src="./assets/event.svg"></div>
          <h1 id="card-title">The Prizes</h1>
          <div class="prize">
            <img src="./assets/logo.png">
            <h3>Top Three Hacks</h3>
            <p><strong>WIN: </strong>AERIUS World’s Smallest Quadcopter, Boogie Board Jot 8.5, Tile Gen 2, Logitech X100 Buetooth Speaker, and a Google Cardboard</p>
          </div>
          <div class="prize">
            <img src="./assets/logo.png">
            <h3>Rube Goldberg Hack</h3>
            <p><strong>WIN: </strong>Captain Jules's Useless Box</p>
          </div>
          <div class="prize">
            <img src="https://logo.clearbit.com/gm.com">
            <h3>Best Auto Hack</h3>
            <p><strong>WIN: </strong>Weekend Trip to NY to Visit the Cadillac House</p>
          </div>
          <div class="prize">
            <img src="https://logo.clearbit.com/microsoft.com">
            <h3>Best Microsoft Hack</h3>
            <p><strong>WIN: </strong>Surface Pro 4s plus typecover</p>
          </div>
          <div class="prize">
            <img src="https://logo.clearbit.com/goldmansachs.com">
            <h3>Best User Experience (UX) Award</h3>
            <p><strong>WIN: </strong>Bose speakers</p>
          </div>
          <div class="prize">
            <img src="https://logo.clearbit.com/delta.com">
            <h3>Best Air Travel Solutions</h3>
            <p>Hack around Air travel<br><strong>1st: </strong>Confirmed Domestic Round-trip Ticket in Delta Network for Each Team Member<br><strong>2nd: </strong>$100 Delta Gift Card for Each Team Member<br><strong>3rd: </strong>$50 Delta Gift Card for Each Team Member</p>
          </div>
          <div class="prize">
            <img src="https://logo.clearbit.com/delta.com">
            <h3>Best Corporate Customer Travel Experience</h3>
            <p>Hack around Air travel Corporate Customer<br><strong>WIN: </strong>Confirmed Domestic Round-trip Ticket in Delta Network for Each Team Member</p>
          </div>
          <div class="prize">
            <img src="https://hackgt.com/img/sponsors/tanvas.jpg">
            <h3>Most innovative use of TanvasTouch in a digital experience</h3>
            <p><strong>WIN: </strong>Remote drone with an HD camera along with early access to the Tanvas developer kit</p>
          </div>
          <div class="prize">
            <img src="https://logo.clearbit.com/ionic.com">
            <h3>Best Use of Encryption</h3>
            <p>(Must use encryption in your hack)<br><strong>WIN: </strong>Backpacks and $100 per team member</p>
          </div>
          <div class="prize">
            <img src="https://hackgt.com/img/sponsors/gtlyfe.png">
            <h3>Most complete, easy to implement with existing technologies solution</h3>
            <p><strong>WIN: </strong>Cool electronics such as an Apple TV, headphones, a Fitbit, etc. along with internship opportunities</p>
          </div>
          <div class="prize">
            <img src="https://logo.clearbit.com/techsquare.co">
            <h3>Most Scalable and Ready for Market Hack</h3>
            <p><strong>WIN: </strong>3 months free membership at TechSquare Labs, startup incubator, to build and scale your project.</p>
          </div>
        </div>
      </div>
    </div>


    <script src="build/angulars.min.js"></script>
    <script src="build/app.min.js"></script>
    <script src="build/ui.min.js"></script>
    <script src="build/script.js"></script>
    <!-- <script src="build/jquery.nerveSlider.min.js"></script>
    <script>
    $(document).ready(function(){
      $("#prizes").nerveSlider({
        sliderWidth: "100%",
        sliderHeight: "400px"
      });
    });
    </script> -->

  </body>
</html>
