<!DOCTYPE html>
<html lang="en" ng-app="notif">
  <head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>HackGT Notifications Page</title>
    <meta name="author" content="HackGT">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="manifest" href="/manifest.json">

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro:400,600|Lato" rel="stylesheet">
    <link rel="stylesheet" href="build/ui.min.css">
    <link rel='stylesheet' href='build/style.css' />
    <!-- <link rel="stylesheet" href="build/nerveSlider.min.css"> -->

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="./assets/favicon.png">

    <!-- JavaScript/JQuery
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </head>
  <body ng-controller="AppController">

    <div class="container-fluid">
    </div>

    <div class="container">
      <div class="col-md-4">
        <div id="social"></div>
      </div>
      <div class="col-md-4">
        <div class="title">
          <img src="./assets/HackGTLogo.png" id="logo">
        </div>
        <a href="#prizes" class="pageA">Link to Prizes!</a>
        <div class="notifications">
          <div class="card" ng-repeat="notif in notifs" ng-if="notif">
            <div class="cardType"><img src="./assets/{{(notif.type).toLowerCase()}}.svg"></div>
            <h1 id="card-title">{{notif.title}}</h1>
            <p>{{notif.description}}</p>
            <p id="timestamp">{{notif.date | date:'shortTime'}}</p>
          </div>
        </div>
        <div class="card">
          <a href="https://slackgt.slack.com" target="_blank">
            <div class="cardType"><img src="./assets/slack.png"></div>
            <h1 id="card-title">SlackGT</h1>
            <p>Stay updated on all things HackGT! Join our Slack channel to communicate with other hackers, get matched with mentors, and ask questions to sponsors.</p>
          </a>
        </div>
        <div class="card">
          <div class="cardType"><img src="./assets/general.svg"></div>
          <h1 id="card-title">Get Connected</h1>
          <p>Not a GT Student? Connect to "GTvisitor," click "redeem," and create an account. The prepaid pass is CEEER.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="http://hackgt2016.devpost.com/" target="_blank">
            <div class="cardType"><img src="./assets/emergency.svg"></div>
            <h1 id="card-title">Submit your Hack!</h1>
            <p>Hacks must be submitted on <strong><u>Devpost</u></strong> by 9a. Our advice- submit early and update often! Teams are assigned tables and projects are presented expo style to judges. The expo is open to the public so feel free to invite your friends and show off!</p>
          </a>
        </div>
        <div class="card" style="padding: 0;">
          <div class="clock">
            <div class="time" id="clock"></div>
            <div class="day" id="day"></div>
          </div>
          <div id="schedule">
            <div class="event">
              <span class="time">3:00a</span>
              <span class="eventN">Insomnia Cookies!</span>
            </div>
            <div class="event">
              <span class="time">6:00a</span>
              <span class="eventN">Sublime Donuts</span>
            </div>
            <div class="event">
              <span class="time">7:30a</span>
              <span class="eventN">Nana G's Chicken and Waffles</span>
              <span class="location">Veg options available!</span>
            </div>
            <div class="event">
              <span class="time">9:00a</span>
              <span class="eventN">End of Hacking!</span>
              <span class="location">Project must be submitted on <a href="http://hackgt2016.devpost.com/" target="_blank">Devpost</a></span>
            </div>
            <div class="event">
              <span class="time">10:00a</span>
              <span class="eventN">Project Expo</span>
              <span class="location">Klaus Atrium</span>
            </div>
            <div class="event">
              <span class="time">12:00p</span>
              <span class="eventN">Lunch (Tempted Palate)</span>
            </div>
            <div class="event">
              <span class="time">2:00p</span>
              <span class="eventN">Closing Ceremonies</span>
              <span class="location">Ferst Center</span>
            </div>
          </div>
        </div>
        <div id="prizes" class="card" style="padding: 0; transform: scale(0.98);">
          <div class="cardType"><img src="./assets/event.svg"></div>
          <h1 id="card-title">The Prizes</h1>
          <div class="prize">
            <img src="./assets/logo.png">
            <h3>Top Three Hacks</h3>
            <p><strong>WIN: </strong>AERIUS World’s Smallest Quadcopter, Boogie Board Jot 8.5, Tile Gen 2, Logitech X100 Buetooth Speaker, and a Google Cardboard</p>
          </div>
          <div class="prize">
            <img src="./assets/logo.png">
            <h3>Rube Goldberg Hack</h3>
            <p>The prize is awarded to the team that create the most inefficient but creative hack. It must achieve a simple task but in the most roundabout way.<br><strong>WIN: </strong>Captain Jules's Useless Box</p>
          </div>
          <div class="prize">
            <img src="https://logo.clearbit.com/gm.com">
            <h3>Best Auto Hack</h3>
            <p><strong>WIN: </strong>Weekend Trip to NY to Visit the Cadillac House</p>
          </div>
          <div class="prize">
            <img src="https://logo.clearbit.com/microsoft.com">
            <h3>Best Microsoft Hack</h3>
            <p><strong>WIN: </strong>Surface Pro 4s plus typecover</p>
          </div>
          <div class="prize">
            <img src="https://logo.clearbit.com/blackrock.com">
            <h3>Best Use of the Aladdin API</h3>
            <p><strong>WIN: </strong>Drones</p>
          </div>
          <div class="prize">
            <img src="https://logo.clearbit.com/macys.com">
            <h3>Best Improvement to the Shopping Experience at Macy's</h3>
            <p>API key: hackapalooza<br><strong>WIN: </strong>Opportunity to Interview and Work with the Development Teams Involved in Building the Next Generation Applications (Application Performance and Data Science) for Macy's</p>
            <span class="button"><a href="http://developer.macys.com/" target="_blank">Macys Challenge Info</a></span>
          </div>
          <div class="prize">
            <img src="https://logo.clearbit.com/goldmansachs.com">
            <h3>Best User Experience (UX) Award</h3>
            <p><strong>WIN: </strong>Bose speakers</p>
          </div>
          <div class="prize">
            <img src="https://logo.clearbit.com/capitalone.com">
            <h3>Best use of the Capital One API (Nessie)</h3>
            <p><strong>WIN: </strong>$250 Amazon Gift Card for Each Team Member</p>
          </div>
          <div class="prize">
            <img src="https://logo.clearbit.com/delta.com">
            <h3>Best Air Travel Solutions</h3>
            <p>Hack around Air travel<br><strong>1st: </strong>Confirmed Domestic Round-trip Ticket in Delta Network for Each Team Member<br><strong>2nd: </strong>$100 Delta Gift Card for Each Team Member<br><strong>3rd: </strong>$50 Delta Gift Card for Each Team Member</p>
          </div>
          <div class="prize">
            <img src="https://logo.clearbit.com/delta.com">
            <h3>Best Corporate Customer Travel Experience</h3>
            <p>Hack around Air travel Corporate Customer<br><strong>WIN: </strong>Confirmed Domestic Round-trip Ticket in Delta Network for Each Team Member</p>
            <span class="button"><a href="https://onedrive.live.com/?authkey=%21ALftqiSKQAJ5PU8&id=7A3F0BB64EED8F2E%21127&cid=7A3F0BB64EED8F2E" target="blank">Docs for Delta Challenges</a></span>
            <span class="button"><a href="http://dev-delta-airlines.devportal.apigee.com/" target="blank">Delta API</a></span>
          </div>
          <div class="prize">
            <img src="https://hackgt.com/img/sponsors/statefarm.png">
            <h3>State Farm's Choice</h3>
            <p><strong>WIN: </strong>Amazon Echos</p>
          </div>
          <div class="prize">
            <img src="https://logo.clearbit.com/predictivetechnologies.com">
            <h3>Best Data Visualization</h3>
            <p><strong>WIN: </strong>$100 Amazon gift card for each team member</p>
          </div>
          <div class="prize">
            <img src="https://hackgt.com/img/sponsors/tanvas.jpg">
            <h3>Most innovative use of TanvasTouch in a digital experience</h3>
            <p><strong>WIN: </strong>Remote drone with an HD camera along with early access to the Tanvas developer kit</p>
          </div>
          <div class="prize">
            <img src="https://logo.clearbit.com/techsquare.co">
            <h3>Most Scalable and Ready for Market Hack</h3>
            <p><strong>WIN: </strong>3 months free membership at TechSquare Labs, startup incubator, to build and scale your project.</p>
          </div>
          <div class="prize">
            <img src="https://hackgt.com/img/sponsors/hbk.png">
            <h3>"That's So Cash" Award of Awesomeness</h3>
            <p>Must be awesome (subject to our opinion)<br><strong>WIN: </strong>$100 Amazon gift card for each team member</p>
          </div>
          <div class="prize">
            <img src="https://logo.clearbit.com/ionic.com">
            <h3>Best Use of Encryption</h3>
            <p>Must use encryption in your hack<br><strong>WIN: </strong>Backpacks and $100 per team member</p>
          </div>
          <div class="prize">
            <img src="https://hackgt.com/img/sponsors/gtlyfe.png">
            <h3>Most complete, easy to implement with existing technologies solution</h3>
            <p><strong>WIN: </strong>Amazon Gift Cards</p>
            <span class="button"><a href="https://drive.google.com/open?id=0B-gK06RAbRk5Y3FPT2hpSlhjS1pjYnVlVEoyWGlVNTlucEJN" target="_blank">Cytilife IOT Hackathon Problem Statement</a></span>
            <p><strong>WIN: </strong>Amazon Gift Cards</p>
            <span class="button"><a href="https://drive.google.com/open?id=0B-gK06RAbRk5ZVR6ZFF3SG5YODNILUhob25fVlh4dEpsUmRr" target="_blank">Cytilife Peer To Peer Marketplace for Students</a></span>
            <p><strong>WIN: </strong>Amazon Gift Cards</p>
          </div>
          <div class="prize">
            <img src="https://hackgt.com/img/sponsors/namecheap.png">
            <h3>Best .me domain name</h3>
            <p><strong>WIN: </strong>$150 in Namecheap credits</p>
          </div>
          <div class="prize">
            <img src="https://logo.clearbit.com/mlh.io">
            <h3>Best Use of AWS</h3>
            <p><strong>WIN: </strong>1 TB Hard Drives</p>
          </div>
          <div class="prize">
            <img src="https://logo.clearbit.com/mlh.io">
            <h3>Best Domain Name from Domain.com</h3>
            <p><strong>WIN: </strong>Domain.com Swag Bags</p>
          </div>
          <div class="prize">
            <img src="https://logo.clearbit.com/mlh.io">
            <h3>Best Data Privacy Hack</h3>
            <p>Develop a project that helps users better understand their digital footprint or control their personal data.<br><strong>WIN: </strong>Watch Dogs 2 Collector’s Edition for each member of the team</p>
          </div>
          <div class="prize">
            <img src="https://logo.clearbit.com/mlh.io">
            <h3>Hack Harassment</h3>
            <p>Use your tech skills for good and hack online harassment. Build a software solution that can help reduce the frequency and/or severity of online harassment.<br><strong>WIN: </strong>MLH Swag Bag</p>
          </div>
        </div>
      </div>
    </div>


    <script src="build/angulars.min.js"></script>
    <script src="build/app.min.js"></script>
    <script src="build/ui.min.js"></script>
    <script src="build/script.js"></script>
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
    <script>
      var OneSignal = window.OneSignal || [];
      OneSignal.push(["init", {
        appId: "563000f8-a41b-42a5-8604-ba1b8855da75",
        autoRegister: true,
        notifyButton: {
          enable: true /* Set to false to hide */
        }
      }]);
    </script>
    <!-- <script src="build/jquery.nerveSlider.min.js"></script>
    <script>
    $(document).ready(function(){
      $("#prizes").nerveSlider({
        sliderWidth: "100%",
        sliderHeight: "400px"
      });
    });
    </script> -->

  </body>
</html>
